/****************************************************
                    GENERALI
*****************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

main { width: 100vw;
height: 100vh;}

header{
    width: calc(100% - 230px);
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    background-color:  #080b1293;;
}

.comandi-laterali {
    width: 230px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    background-color: #000000;
    flex-shrink: 0;
}

.contenuto {
    width: calc(100vw - 230px);
    height: calc(100vh - 90px);
    margin-top: 0px;
    background-color: #141922;
}


/***********   PLAYER ****************/ 
#player {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #282828;
    position: relative;
    z-index: 500;
}

ul { list-style: none;}

.container-flex {
    display: flex;
}
/****************************************************
                    HEADER
*****************************************************/

/***********   UPGRADE ****************/

.upgrade-flex{
    display: flex;
    flex-direction: row-reverse;
}

.box {
    min-width: 12%;
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    margin: 15px;
}

.box > p {
    font-size: 0.8rem;
    font-weight: bold;
}

.box:hover {
    padding: 20px;
}

/****************************************************
                    MAIN
*****************************************************/

/***********   COMANDI LATERALI ****************/

/***********   LOGO ****************/
.margin { 
    margin: 12px 15px; 
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 10px;
}


#logo > img{
    width: 80%;
    padding-top: 20px;
}

#logo-small {display: none;}

/***********   COMANDI PRINCIPALI ****************/   

.container-nav-menu {margin: 20px 0;}

.container-nav-menu > li {margin: 10px 0;}

.logs {
    width: 15%;
    vertical-align: middle;
    filter: invert(44%) sepia(0%) saturate(209%) hue-rotate(189deg) brightness(97%) contrast(90%);
}

.nav-text > a {
    color: #626262;
    text-decoration: none;
}

#home {color: white;}

#home-img {filter: brightness(1);}

.container-nav-menu > li:hover img { filter: brightness(1);}

.container-nav-menu > li:hover a { color: white;}



/***********   PLAYLIST ****************/ 
#playlist-title {
    color: white;
    font-size: 0.9rem;
}

#crea-playlist {
    display: flex;
    align-items: center;
    padding-top: 15px;
    color: #626262;
    text-decoration: none;
}

#crea-playlist > h4 {
    padding-left: 10px;
}

.playlist {
    flex-grow: 1;
    line-height: 32px;
    flex-basis: 10px;
    overflow: auto;
    flex-basis: 200px;
}

.nav-text > h4 {
    color: #626262;
}

.links-none { text-decoration: none;}

/***********   PROFILE ****************/ 

#download {
    display: flex;
    align-items: center;
}

#download > img { width: 10%; }

#download > a { 
    font-weight: bold;
    font-size: 0.8rem;
    padding-left: 10px;
}

.profile > hr { margin: 10px 0;}

.nav-text > h4 { padding: 5px 0;}

#profile {
    width: 60%;
    display: flex;
    align-items: center;
}

#profile > img {
    width: 20px;
    height: 20px;
    background-color: #6d6d6d;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 5px;
}

#profile > a {
    font-size: 1rem;
    padding-left: 10px;
    color: white;
}

#crea-playlist:hover { color: white;}

.playlist li:hover h4 { color: white; }

.profile li:hover a { color: white; }

/****************************************************
                    PLAYER
*****************************************************/
#songs {
    max-width: 35%;
    display: flex;
    align-items: center;
    color: #626262;
}

   .prova {
    max-width: 40px;
   }

    .prova > img {
       max-width: 100%;
    }
    
    #brano { margin-left: 5%;}

    #brano > h4 { color: white;}

    #interazioni {
        font-size: 1.2rem;
        line-height: 32px;
        margin-left: 5%;
        display: flex;
    }

    #interazioni i {
        margin-left: 20%;
    }

    #interazioni i:hover { color: white;}

#commands {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

    #commands-up {
        font-size: 1rem;
        color: #fefefe;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #commands-up i { margin-right: 5px;}
    
    #play {font-size: 1.5rem;}

    #play:hover {font-size: 2rem;}


.timeline {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.timeline > span {
    color: white;
    margin: 0 20px;
}

    .container-barra {
        width: 400px;
    }

    .barra {
        border: 2px #595959 solid;
        height: 0px;
        border-radius: 2px;
        display: flex;
    }
    
    .fullbarra {
        width: 15%;
        height: 0;
        border-radius: 2px;
        position: relative;
        bottom: 3.5px;
        right: 2px;
        display: flex;
        justify-content: flex-end;
        color: white;
        border: 2px #c2c2c2 solid;
    }

    .fullbarra > i {
        position: relative;
        bottom: 8px;
        left: 10px;
        display: none;
    }

    .fullbarra:hover {
        border: 2px lightgreen solid;
    }

    .fullbarra:hover i {
        display: block;
    }
    

#volume{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .icons-player {
        display: flex;
        color: white;
        font-size: 0.8rem;
    }

    .icons-player i {
        margin-right: 10px;
    }

    .container-barra2 {
        width: 70px;
    }


    .barra-volume {
        width: 50%;
    }





/***********************
     MEDIA QUERY 480px
************************/
@media all and (max-width: 480px) {

    /***********   HEADER ****************/ 
    header { width: calc(100% - 45px);}

    .contenuto {
        width: calc(100% - 45px);
    }
    /********  COMANDI LATERALI ********/ 
    .comandi-laterali {
        width: 45px;
    }

    .margin { margin: 12px 10px;}

    .container-nav-menu {flex: 1;}

    #logo { display: none; }

    #logo-small { 
        display: inline-block;
        width: 100%;
        margin-top: 5px;
    }

    .nav-text { display: none; }

    .logs { width: 100%; }

    .playlist { display: none;}
    
    #playlist-title { display: none;}

    .profile li > a {display: none;}

    #download > img{ width: 100%;}

    .profile > hr { display: none;}

    #profile { 
        width: 100%;
        margin-left: 4px;
    }

    #interazioni {
        flex-direction: column;
        gap: 10px;
    }
    
    #volume-bar {
        display: none;
    }

}