/****************************************************
                    GENERALI
*****************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

main { display: flex;}

header{
    width: calc(100% - 230px);
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    background-color:  #080b1293;;
}

.comandi-laterali {
    width: 230px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #000000;
    flex-shrink: 0;
}

.contenuto {
    width: 100%;
    height: calc(100vh - 90px);
    margin-top: 0px;
    background-color: #141922;
}

#player {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #282828;
}

ul {
    list-style: none;
}

/****************************************************
                    HEADER
*****************************************************/

/***********   UPGRADE ****************/

.upgrade-flex{
    display: flex;
    flex-direction: row-reverse;
}

.box {
    min-width: 12%;
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    margin: 15px;
}

.box > p {
    font-size: 0.8rem;
    font-weight: bold;
}

/****************************************************
                    MAIN
*****************************************************/

/***********   COMANDI LATERALI ****************/

/* LOGO */
.margin { margin: 12px 15px; }

#logo > img{
    width: 80%;
    padding-top: 20px;
}

#logo-small {
    display: none;
}

/* COMANDI PRINCIPALI */

.container-nav-menu {
    margin: 20px 0;
}

.container-nav-menu > li {
    margin: 10px 0;
}

.logs {
    width: 15%;
    vertical-align: middle;
    filter: invert(44%) sepia(0%) saturate(209%) hue-rotate(189deg) brightness(97%) contrast(90%);
}

.nav-text > a {
    color: #626262;
    text-decoration: none;
}

#home {
    color: white;
}

#home-img {
    filter: brightness(1);
}

.container-nav-menu > li:hover img {
    filter: brightness(1);
}

.container-nav-menu > li:hover a {
    color: white;
}

/* PLAYLIST */

#playlist-title {
    margin-top: 25px;
    color: white;
    font-size: 0.9rem;
}

#crea-playlist {
    display: flex;
    align-items: center;
    padding-top: 15px;
    color: #626262;
    text-decoration: none;
}

#crea-playlist > h4 {
    padding-left: 10px;
}

.nav-text > h4 {
    color: #626262;
}

.links-none {
    text-decoration: none;
}

/* PROFILE */
.profile {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#download {
    display: flex;
    align-items: center;
}

#download > img { width: 10%; }

#download > a { 
    font-weight: bold;
    font-size: 0.8rem;
    padding-left: 10px;
}

.profile > hr {
    margin: 10px 0;
}

.nav-text > h4 {
    padding: 12px 0;
}

#profile {
    width: 60%;
    display: flex;
    align-items: center;
}

#profile > img {
    width: 20px;
    height: 20px;
    background-color: #6d6d6d;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 5px;
}

#profile > a {
    font-size: 1rem;
    padding-left: 10px;
    color: white;
}

#crea-playlist:hover {
    color: white;
}

.playlist li:hover h4 {
    color: white;
}

.profile li:hover a {
    color: white;
}

/***********************
     MEDIA QUERY 480px
************************/
@media all and (max-width: 480px) {

    .comandi-laterali {
        width: 45px;
    }

    #logo { display: none; }

    #logo-small { 
        display: inline-block;
        width: 100%;
        margin-top: 5px;
    }

    .nav-text { display: none; }

    .logs { width: 100%; }
}